[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sRdpData"]
	path = sRdpData
	url = https://github.com/fragmentation-project/srdpdata
